/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  font-family: 'Poppins', sans-serif;
  color: black;
}
body.active{
  background: black;
  color: white !important;
}
.nav {
  width: 90%;
  margin: 2rem auto;
}
.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.logo{
  font-size: 1.2rem;
  font-weight: bolder;
  cursor: pointer;
}
.nav .container .main_list{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav .container .main_list ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav .container .main_list ul  li{
  margin:0  1rem;
  list-style: none;
  font-size: 1.2rem;
  font-weight: bolder;
  text-transform: capitalize;
  cursor: pointer;
}
.nav .container .right{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.bodylight{
  margin: 0 1rem;
}


/* The switch - the box around the slider */
.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
.fa-solid{
  font-size: 1.2rem;
  transition: width 2s;
  cursor: pointer;
}
.manu{
  display: none;
}
/* Medai qurey section */
@media(max-width: 768px) {
    .manu{
      display: block;
    }
    .nav .container .main_list{
      position: absolute;
      top: 3rem;
    }
    .container{
      margin: 0;
  }
  

  .nav .main_list{
      width: 100%;
      margin-top: 5px;
      height: 0px;
      overflow: hidden;
  }

  .nav div.show_list{
      height: 200px;
  }

  .nav .main_list ul{
      flex-direction: column;
      width: 100%;
      height: 200px;
  }

  .nav div.main_list ul li{
      width: 100%;
      height: 40px;
  }

  .nav div.main_list ul li{
    text-align: center;
      line-height: 40px;
      width: 100%;
      height: 40px;
      display: table;
  }
}